body {
  margin-top: 20px;
  background: #0F4800;
}
h1 {
  text-align: center;
}
.result,
.counting {
  display: none;
}
.result,
.counting,
.done {
  color: white;
}
.jumbotron {
  background: rgba(238, 238, 238, 0.8)
}
.jumbotron p {
  font-size: 16px;
}
.result {
  text-align: center;
  position: relative;
  width: auto;
}
.no-padding {
  padding: 0px;
}
.ping {
  position: relative;
  right: 500px;
}
.pong {
  position: relative;
  left: 500px;
}
.output-box {
  display: none;
}
.results {
  height: 500px;
  overflow-y: auto;
  background: #448F30;
}
.header-padding {
  padding-top: 7px;
  padding-left: 10px;
  padding-right: 0px;
}
#results-header {
  background: #256B12;
  height: 40px;
}
#results-header h3 {
  position: relative;
  height:30px;
  margin: 0;
}
#stop {
  display: none;
}
